# 1. Statistics and Counts

## Gathering statistics on data

In [2]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)
print(train_df.describe())

                age        fnlwgt  educationnum   capitalgain   capitalloss  \
count  32561.000000  3.256100e+04  32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05     10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05      2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04      1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05      9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05     10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05     12.000000      0.000000      0.000000
max       90.000000  1.484705e+06     16.000000  99999.000000   4356.000000

       hoursperweek
count  32561.000000
mean      40.437456
std       12.347429
min        1.000000
25%       40.000000
50%       40.000000
75%       45.000000
max       99.000000

# Finding the data types

In [4]:
import pandas as pd

# Read in data as explained in reading CSV lesson
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)
                      
print(train_df.info())  # Use the info() function on the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            32561 non-null  int64
 1   workclass      32561 non-null  object
 2   fnlwgt         32561 non-null  int64
 3   education      32561 non-null  object
 4   educationnum   32561 non-null  int64
 5   maritalstatus  32561 non-null  object
 6   occupation     32561 non-null  object
 7   relationship   32561 non-null  object
 8   race           32561 non-null  object
 9   sex            32561 non-null  object
 10  capitalgain    32561 non-null  int64
 11  capitalloss    32561 non-null  int64
 12  hoursperweek   32561 non-null  int64
 13  nativecountry  32561 non-null  object
 14  label          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

### Converting data types

* to_numeric()
* to_datetime()
* to_string()

## Finding unique values

In [6]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)
print(train_df['relationship'].unique())

[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

In [7]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)
print(train_df['relationship'].value_counts())

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

## Grouping the data

In [9]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)

# Group by relationship and then get the value counts of label with normalization                   
print(train_df.groupby('relationship')['label'].value_counts(normalize=True))

relationship     label
 Husband          <=50K    0.551429
                  >50K     0.448571
 Not-in-family    <=50K    0.896930
                  >50K     0.103070
 Other-relative   <=50K    0.962283
                  >50K     0.037717
 Own-child        <=50K    0.986780
                  >50K     0.013220
 Unmarried        <=50K    0.936738
                  >50K     0.063262
 Wife             <=50K    0.524872
                  >50K     0.475128
Name: label, dtype: float64

In [10]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)
print(train_df.groupby(['workclass'])['hoursperweek'].mean())

workclass
 ?                   31.919390
 Federal-gov         41.379167
 Local-gov           40.982800
 Never-worked        28.428571
 Private             40.267096
 Self-emp-inc        48.818100
 Self-emp-not-inc    44.421881
 State-gov           39.031587
 Without-pay         32.714286
Name: hoursperweek, dtype: float64

## Finding the correlation

In [11]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)

# Calculate correlations                   
print(train_df.corr())

                   age    fnlwgt  educationnum  capitalgain  capitalloss  \
age           1.000000 -0.076646      0.036527     0.077674     0.057775
fnlwgt       -0.076646  1.000000     -0.043195     0.000432    -0.010252
educationnum  0.036527 -0.043195      1.000000     0.122630     0.079923
capitalgain   0.077674  0.000432      0.122630     1.000000    -0.031615
capitalloss   0.057775 -0.010252      0.079923    -0.031615     1.000000
hoursperweek  0.068756 -0.018768      0.148123     0.078409     0.054256

              hoursperweek
age               0.068756
fnlwgt           -0.018768
educationnum      0.148123
capitalgain       0.078409
capitalloss       0.054256
hoursperweek      1.000000

In [13]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)

# Convert the string label into a value of 1 when >= 50k and 0 otherwise
train_df['label_int'] = train_df.label.apply(lambda x: ">" in x)
print(train_df.corr())

                   age    fnlwgt  educationnum  capitalgain  capitalloss  \
age           1.000000 -0.076646      0.036527     0.077674     0.057775
fnlwgt       -0.076646  1.000000     -0.043195     0.000432    -0.010252
educationnum  0.036527 -0.043195      1.000000     0.122630     0.079923
capitalgain   0.077674  0.000432      0.122630     1.000000    -0.031615
capitalloss   0.057775 -0.010252      0.079923    -0.031615     1.000000
hoursperweek  0.068756 -0.018768      0.148123     0.078409     0.054256
label_int     0.234037 -0.009463      0.335154     0.223329     0.150526

              hoursperweek  label_int
age               0.068756   0.234037
fnlwgt           -0.018768  -0.009463
educationnum      0.148123   0.335154
capitalgain       0.078409   0.223329
capitalloss       0.054256   0.150526
hoursperweek      1.000000   0.229689
label_int         0.229689   1.000000

## Generating percentiles

In [15]:
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)

# Use the describe function to calculate the percentiles specified                     
print(train_df.describe(percentiles=[.01,.05,.95,.99]))

                age        fnlwgt  educationnum   capitalgain   capitalloss  \
count  32561.000000  3.256100e+04  32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05     10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05      2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04      1.000000      0.000000      0.000000
1%        17.000000  2.718580e+04      3.000000      0.000000      0.000000
5%        19.000000  3.946000e+04      5.000000      0.000000      0.000000
50%       37.000000  1.783560e+05     10.000000      0.000000      0.000000
95%       63.000000  3.796820e+05     14.000000   5013.000000      0.000000
99%       74.000000  5.100720e+05     16.000000  15024.000000   1980.000000
max       90.000000  1.484705e+06     16.000000  99999.000000   4356.000000

       hoursperweek
count  32561.000000
mean      40.437456
std       12.347429
min        1.000000
1%         8.000000
5%        18.000000
50%       40.000000
95%       60.000000
99%       80.000000
max       99.000000

# 2. Reshaping the Data

## Pivot Table

In [17]:
import numpy as np
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)

# Pivot the data frame to show by relationship, workclass (rows) and label (columns) the average hours per week.
print(pd.pivot_table(train_df, values='hoursperweek', index=['relationship','workclass'], 
               columns=['label'], aggfunc=np.mean).round(2))

label                               <=50K   >50K
relationship    workclass
 Husband         ?                  30.72  37.33
                 Federal-gov        42.34  43.05
                 Local-gov          41.40  44.56
                 Private            42.50  46.18
                 Self-emp-inc       48.29  50.49
                 Self-emp-not-inc   46.01  48.07
                 State-gov          38.67  45.17
                 Without-pay        34.25    NaN
 Not-in-family   ?                  31.29  39.44
                 Federal-gov        40.60  47.54
                 Local-gov          40.38  45.01
                 Never-worked       35.00    NaN
                 Private            40.20  47.03
                 Self-emp-inc       49.06  53.58
                 Self-emp-not-inc   41.53  45.02
                 State-gov          38.87  44.19
 Other-relative  ?                  29.10  40.00
                 Federal-gov        38.40  45.00
                 Local-gov          35.92  48.00
                 Private            37.44  40.74
                 Self-emp-inc       40.00  41.67
                 Self-emp-not-inc   36.16  49.29
                 State-gov          36.40  29.00
 Own-child       ?                  32.39  50.00
                 Federal-gov        35.11    NaN
                 Local-gov          35.59  41.25
                 Never-worked       24.80    NaN
                 Private            32.84  43.09
                 Self-emp-inc       39.60  43.75
                 Self-emp-not-inc   40.33  49.38
                 State-gov          30.10  38.33
                 Without-pay        35.00    NaN
 Unmarried       ?                  32.75  50.00
                 Federal-gov        39.30  43.65
                 Local-gov          40.09  45.79
                 Private            38.64  45.70
                 Self-emp-inc       45.74  58.11
                 Self-emp-not-inc   40.62  47.81
                 State-gov          38.15  44.56
                 Without-pay        37.50    NaN
 Wife            ?                  28.29  29.72
                 Federal-gov        38.93  39.74
                 Local-gov          37.87  40.38
                 Never-worked       40.00    NaN
                 Private            36.56  38.31
                 Self-emp-inc       44.67  38.14
                 Self-emp-not-inc   36.53  34.61
                 State-gov          36.50  39.10
                 Without-pay        23.67    NaN

## Cross Tab

**Crasstab** is a nice way to get frequency tables. What you do is pass two columns to the function and you will get the frequency of all the pair-wise combinations of those two variables

In [19]:
import numpy as np
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)

# Calculate the frequencies between label and relationship
print(pd.crosstab(train_df['label'], train_df.relationship))

relationship   Husband   Not-in-family   Other-relative   Own-child  \
label
 <=50K            7275            7449              944        5001
 >50K             5918             856               37          67

relationship   Unmarried   Wife
label
 <=50K              3228    823
 >50K                218    745

In [21]:
import numpy as np
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("./data/adult.data", header=None, names=names)

# Crosstab with normalized outputs
print(pd.crosstab(train_df['label'], train_df.relationship, normalize=True))

relationship   Husband   Not-in-family   Other-relative   Own-child  \
label
 <=50K        0.223427        0.228771         0.028992    0.153589
 >50K         0.181751        0.026289         0.001136    0.002058

relationship   Unmarried      Wife
label
 <=50K          0.099137  0.025276
 >50K           0.006695  0.022880

## Reshape

**With pandas, you can use pivot() to reshape your data. To illustrate this concept, i will use code from this post to create a dataframe in a long format**

In [23]:
import pandas.util.testing as tm; tm.N = 3
import numpy as np
import pandas as pd 

def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])
df = unpivot(tm.makeTimeDataFrame())
print(df)

          date variable     value
0   2000-01-03        A  1.196977
1   2000-01-04        A -0.950005
2   2000-01-05        A -0.548391
3   2000-01-06        A -0.047189
4   2000-01-07        A -0.482384
..         ...      ...       ...
115 2000-02-07        D -0.570111
116 2000-02-08        D -0.312861
117 2000-02-09        D  0.898329
118 2000-02-10        D  0.081004
119 2000-02-11        D -0.317515

[120 rows x 3 columns]

### Long to wide format

In [ ]:
import pandas.util.testing as tm; tm.N = 3
import numpy as np
import pandas as pd 

def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])
df = unpivot(tm.makeTimeDataFrame())

# Use pivot to keep date as the index and value as the values, but use the vaiable column to create new columns
df_pivot = df.pivot(index='date', columns='variable', values='value')
print(df_pivot)

### Wide to long format

In [24]:
import pandas.util.testing as tm; tm.N = 3
import numpy as np
import pandas as pd 

# Create long dataframe
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])
df = unpivot(tm.makeTimeDataFrame())

# Convert to wide format
df_pivot = df.pivot(index='date', columns='variable', values='value')

# Convert back to long format
print(df_pivot.unstack())

variable  date
A         2000-01-03   -0.047287
          2000-01-04   -1.690219
          2000-01-05    0.630232
          2000-01-06    0.206060
          2000-01-07   -0.786919
                          ...
D         2000-02-07   -0.988617
          2000-02-08    0.226264
          2000-02-09   -0.462064
          2000-02-10   -1.268092
          2000-02-11   -0.980453
Length: 120, dtype: float64

# 3. Exercise: Group By Aggregations

We will create an additional function **group_aggregation** which will take a data frame, a group variable, and an aggregation variable. The function will group by the group variable and calculate the mean of the aggregation variable for each group. Your function will return the grouped data frame.

In [26]:
import pandas as pd

# Loading dataset
def read_csv():
    # Define the column names as a list
    names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"]
    # Read in the CSV file from the webpage using the defined column names
    df = pd.read_csv("./data/auto-mpg.data", header=None, names=names, delim_whitespace=True)
    return df

# Describing data
def group_aggregation(df, group_var, agg_var):
    '''
    df: A dataframe containing the dataset in the form of a matrix
    group_var: A variable that will group the data
    agg_var: A variable to aggregate or describe the grouped data with statistics
    '''
    # Grouping the data and taking mean
    grouped_df = df.groupby([group_var])[agg_var].mean()
    return grouped_df

# Calling the function
print(group_aggregation(read_csv(),"cylinders","mpg"))

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64